<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.app.dao.CategoryMapper">
	<!-- 查询一级标题 -->
	<select id="getSelectcategoryLevel1" resultType="Category">
		SELECT id,categoryName FROM app_category WHERE parentId IS null
	</select>
	<!-- 查询二级标题 -->
	<select id="getSelectcategoryLevel2" resultType="Category">
		SELECT id,categoryName FROM app_category WHERE parentId=#{parentId}
	</select>
	<!-- 查询三级标题 -->
	<select id="getSelectcategoryLevel3" resultType="Category">
		SELECT id,categoryName FROM app_category WHERE parentId=#{parentId}
	</select>
</mapper>